.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding: 20px 40px;
    border-radius: 5px;
    border: 1px solid #f0f8ff;
    transition: all .3s;
    &:hover {
      background-color: #f0f8ff;
      .day {
        color: #333;
        font-weight: 600;
      }
    }
  }
}